* {
	text-align: center;
	margin: 0;
	padding: 0;
}

.container {
    width: 100%;
    background-color: #aadede;
    height: 300px;
}

#square {
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 100px;
    background-color: grey;
}

.box1 {
    width: 100%;
    height: 40px;
    background-color: #ddd;
}

.box2 {
    width: 100%;
    height: 40px;
    background-color: #eee;
}

.play {
    float: left;
    padding: 0 20px 4px 20px;
    margin-top: 5px;
    margin-left: 30px;
    border-radius: 20px;
    background-color: #ddd;
}